:root {
    --primaryFontColor: #000000;
    --secondaryFontColor: #505050;
    --backgroundColor: #F8FBFF;
    --blogBackgroundColor: #fff;

    --navBarBackgroundColor: #fff;

    --shapePrimaryFontColor: #000000;
    --shapeSecondaryFontColor: #393939;


}

@media (prefers-color-scheme: dark) {
    :root {
        --primaryFontColor: #eeeeee;
        --secondaryFontColor: #C3C3C3;
        --backgroundColor: #1E1E1E;
        --blogBackgroundColor: #2B2B2B;
        --navBarBackgroundColor: #2B2B2B;
    }
}
body {
    background-color: var(--backgroundColor);
    color: var(--primaryFontColor);
    max-width: 1000px;
    margin: auto auto;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin-bottom: 200px;
}

section {
    margin-bottom: 25px;
}

h1 {
    color: var(--primaryFontColor);
    margin-bottom: 5px;
}

h2 {
    color: var(--secondaryFontColor);
    margin-bottom: 5px;
}

h4 {
    color: var(--secondaryFontColor);
    font-weight: 500;
    margin-bottom: 5px;
}

p {
    color: var(--primaryFontColor);
}